In [42]:
from sklearn.feature_extraction import FeatureHasher
h = FeatureHasher(n_features=10, input_type="string")
D = [{'dog': 1, 'cat':2, 'elephant':4},{'dog': 2, 'run': 5}]
f = h.transform(D)
f.toarray()

array([[ 0.,  0., -1., -1.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0., -1., -1.,  0.,  0.,  0.,  0.,  0.]])

In [3]:
import pandas as pd
df = pd.DataFrame()
df['color'] = ['r', 'r', 'v', 'a', 'e','t','y','u','i','o','p']
df['color2'] = ['ar', 'ra', 'av', 'ba', 'be','bt','ay','u','ri','ko','p']
df['num']= range(11)
df

   color color2  num
0      r     ar    0
1      r     ra    1
2      v     av    2
3      a     ba    3
4      e     be    4
5      t     bt    5
6      y     ay    6
7      u      u    7
8      i     ri    8
9      o     ko    9
10     p      p   10

In [24]:
dict(dict(df).items())
{ d: dict(df)[d] for d in dict(df) }

{'color': 0     r
 1     r
 2     v
 3     a
 4     e
 5     t
 6     y
 7     u
 8     i
 9     o
 10    p
 Name: color, dtype: object,
 'color2': 0     ar
 1     ra
 2     av
 3     ba
 4     be
 5     bt
 6     ay
 7      u
 8     ri
 9     ko
 10     p
 Name: color2, dtype: object,
 'num': 0      0
 1      1
 2      2
 3      3
 4      4
 5      5
 6      6
 7      7
 8      8
 9      9
 10    10
 Name: num, dtype: int64}

In [39]:
data = [list(df.color), list(df.color2)]
data

[['r', 'r', 'v', 'a', 'e', 't', 'y', 'u', 'i', 'o', 'p'],
 ['ar', 'ra', 'av', 'ba', 'be', 'bt', 'ay', 'u', 'ri', 'ko', 'p']]

In [43]:
f = h.transform(data)
f.toarray()

array([[ 1., -1.,  1.,  0.,  1.,  2., -1.,  0.,  0.,  0.],
       [-1.,  2.,  1.,  0.,  1., -1., -2., -1.,  0.,  0.]])